<!DOCTYPE html>
<html>
<head>
  <title>Actors1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
	td, th {	
			display: table-cell;
			vertical-align: middle;
			text-align:center
			 }

	table {width="200"}		 

</style>

</head>

<body>

<%= yield %>

</body>
</html>
